<% include("partials/header") %> 
<link rel="stylesheet" href="/css/styles-input.css">  
</head>
<body>















<div class="login-page">
  <div class="form">
    <form class="login-form" action="/" method="POST">
      <input type="text" id="cityname" name="city" placeholder="Enter City"/>
      <button>Go!</button>
    </form>
  </div>
</div>














  <% include("partials/footer") %> 